---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"` a`\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"ed9f6ffe4e596d4a4a3aa59e68ea01c0da7137259e64d26214d5bb0c841605b1"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4879'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '121'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: <p><code class="notranslate"> a</code></p>
  recorded_at: Tue, 28 Feb 2023 04:19:06 GMT
recorded_with: VCR 6.1.0
