---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"    aaa\nbbb\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"030a61d60f3050e2ac803846826a21df7f8ec5fc9c6b280917505d262054c043"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4389'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '611'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <pre class="notranslate"><code class="notranslate">aaa
        </code></pre>
        <p>bbb</p>
  recorded_at: Tue, 28 Feb 2023 04:24:32 GMT
recorded_with: VCR 6.1.0
