---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"foo\n*\n\nfoo\n1.\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"e92bad32fc232c13df2420390b651aed3ca9bb45c52af7ce2060ce4e2a4bd27f"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4329'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '671'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <p>foo<br>
        *</p>
        <p>foo<br>
        1.</p>
  recorded_at: Tue, 28 Feb 2023 04:24:49 GMT
recorded_with: VCR 6.1.0
