---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"*foo __bar *baz bim__ bam*\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"695711e56277e27fa7e681b349482cae4ff038da37e972507f01b995ead40b0f"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4756'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '244'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "<p><em>foo <strong>bar *baz bim</strong> bam</em></p>"
  recorded_at: Tue, 28 Feb 2023 04:19:44 GMT
recorded_with: VCR 6.1.0
