---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"##\n#\n### ###\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"9a5591c98f64383882d34eb5535c8264d02779b9adbed39a44ebc1873b6e023c"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4536'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '464'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <h2></h2>
        <h1></h1>
        <h3></h3>
  recorded_at: Tue, 28 Feb 2023 04:22:18 GMT
recorded_with: VCR 6.1.0
