---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"10) foo\n    - bar\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"40140cbe537bdf4c028059ce9e37e4f049941ea1dd6eca3199c4c292100eda01"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4318'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '682'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ol start="10">
        <li>foo
        <ul>
        <li>bar</li>
        </ul>
        </li>
        </ol>
  recorded_at: Tue, 28 Feb 2023 04:24:52 GMT
recorded_with: VCR 6.1.0
