---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"    chunk1\n\n    chunk2\n\n\n\n    chunk3\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"74a4ba2252c5b3b9b18e1acaf1dd914e471f27cec97c7af54d49beefd1cc3979"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4504'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '496'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <pre class="notranslate"><code class="notranslate">chunk1

        chunk2



        chunk3
        </code></pre>
  recorded_at: Tue, 28 Feb 2023 04:22:27 GMT
recorded_with: VCR 6.1.0
