---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"[link](foo\nbar)\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"6435cc31f63188adf1fcda279c18c1e25ccd82663b0edb60e62ea6ba75ce8c9b"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4740'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '260'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <p>[link](foo<br>
        bar)</p>
  recorded_at: Tue, 28 Feb 2023 04:19:48 GMT
recorded_with: VCR 6.1.0
