---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"- foo\n- bar\n+ baz\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"c9235a783a6e1f6dffa97ddf42c1e4a136d3276849deca1284682de4babe0c21"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4313'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '687'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ul>
        <li>foo</li>
        <li>bar</li>
        </ul>
        <ul>
        <li>baz</li>
        </ul>
  recorded_at: Tue, 28 Feb 2023 04:24:55 GMT
recorded_with: VCR 6.1.0
