---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"_foo _bar_ baz_\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"962abe1d80c11d4eb77280d39ad383b472025d55a3d8c8fa143fee1b56898c5e"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4815'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '185'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "<p><em>foo <em>bar</em> baz</em></p>"
  recorded_at: Tue, 28 Feb 2023 04:19:27 GMT
recorded_with: VCR 6.1.0
