---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"The number of windows in my house is\n14.  The
        number of doors is 6.\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"00158f1842cf8c664056c8b88cf2387435113765ab67cd34f74168c69ba53595"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4310'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '690'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <p>The number of windows in my house is<br>
        14.  The number of doors is 6.</p>
  recorded_at: Tue, 28 Feb 2023 04:24:56 GMT
recorded_with: VCR 6.1.0
