---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"_foo_bar_baz_\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"f2d14b6cc6ea86ea93240f613b21112c8d08d92b545d1306750600d1a3d8a3d1"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4838'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '162'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "<p><em>foo_bar_baz</em></p>"
  recorded_at: Tue, 28 Feb 2023 04:19:20 GMT
recorded_with: VCR 6.1.0
