---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"![foo *bar*][]\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"f1719c9b8647a8800655fe1efe121ec915d81049fdc09322f071471e69c83576"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4658'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '342'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "<p>![foo <em>bar</em>][]</p>"
  recorded_at: Tue, 28 Feb 2023 04:21:42 GMT
recorded_with: VCR 6.1.0
