---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"**Gomphocarpus (*Gomphocarpus physocarpus*, syn.\n*Asclepias
        physocarpa*)**\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"e3e76f91b90a8b7396c0aef8fd04f5869942a2598d3f5d14ad78f863c6338c41"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4826'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '174'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <p><strong>Gomphocarpus (<em>Gomphocarpus physocarpus</em>, syn.<br>
        <em>Asclepias physocarpa</em>)</strong></p>
  recorded_at: Tue, 28 Feb 2023 04:19:24 GMT
recorded_with: VCR 6.1.0
