---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"<table>\n\n<tr>\n\n<td>\nHi\n</td>\n\n</tr>\n\n</table>\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"d49d3d3d197ad3b03178ff2fe15fcbf675ff9a76fd01bd87e941dc1231b75933"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4425'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '575'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <table role="table">
        <tbody><tr>
        <td>
        Hi
        </td>
        </tr>
        </tbody></table>
  recorded_at: Tue, 28 Feb 2023 04:24:21 GMT
recorded_with: VCR 6.1.0
