---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"- foo\n***\n- bar\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"97bfe026c0e3d927b977faeffd0c8a563d6f58849428d7a55b2c9355ae94db31"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4558'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '442'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ul>
        <li>foo</li>
        </ul>
        <hr>
        <ul>
        <li>bar</li>
        </ul>
  recorded_at: Tue, 28 Feb 2023 04:22:09 GMT
recorded_with: VCR 6.1.0
