---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"<script>\nfoo\n</script>1. *bar*\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"b00283660b61b0b33660a5de1e02369485f8ea61e9f705d924555b6c0368e220"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4437'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '563'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        &lt;script&gt;
        foo
        &lt;/script&gt;1. *bar*
  recorded_at: Tue, 28 Feb 2023 04:24:17 GMT
recorded_with: VCR 6.1.0
