---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"Foo\n[bar]: /baz\n\n[bar]\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"fd42f444e6d88ca4cb5d0e4792c2f2b95dc62fee84ab8dfc9cadc5e155d83523"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4402'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '598'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <p>Foo<br>
        [bar]: /baz</p>
        <p>[bar]</p>
  recorded_at: Tue, 28 Feb 2023 04:24:28 GMT
recorded_with: VCR 6.1.0
