---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"**foo **bar****\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"1f44c23184500ee02667de03594733842ea2c31c4a46c7cd698c3b093d1eff1b"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4798'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '202'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "<p><strong>foo <strong>bar</strong></strong></p>"
  recorded_at: Tue, 28 Feb 2023 04:19:32 GMT
recorded_with: VCR 6.1.0
