---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"*<img src=\"foo\" title=\"*\"/>\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"77981041f8cf06f81def6c385deca0c9402f81e1d14ceeae0d4ffbc63075c153"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4751'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '249'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '<p>*<a target="_blank" rel="noopener noreferrer" href="foo"><img src="foo"
        title="*" style="max-width: 100%;"></a></p>'
  recorded_at: Tue, 28 Feb 2023 04:19:45 GMT
recorded_with: VCR 6.1.0
