---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"[foo]: /url\nbar\n=\n[foo]\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"0862466612e36da0dde3ad846279d13d84974340eb01922e6113c0819b3717f0"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4400'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '600'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <h1>bar</h1>
        <p><a href="/url">foo</a></p>
  recorded_at: Tue, 28 Feb 2023 04:24:29 GMT
recorded_with: VCR 6.1.0
