---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"Foo *bar*\n=\n\nFoo *bar*\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"719efb6feea0e7fe9bb5a7c016d61acc951400dc3e1f2750371bb1d0480ea852"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4535'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '465'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <h1>Foo <em>bar</em></h1>
        <p>Foo <em>bar</em></p>
  recorded_at: Tue, 28 Feb 2023 04:22:18 GMT
recorded_with: VCR 6.1.0
