---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"-\n  foo\n-\n  ```\n  bar\n  ```\n-\n      baz\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"c6023ecf2828203fc9ef8fe6e35081ce2b77018d3fcc86cfd8aa4ef2d653324b"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4336'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '664'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ul>
        <li>foo</li>
        <li>
        <pre class="notranslate"><code class="notranslate">bar
        </code></pre>
        </li>
        <li>
        <pre class="notranslate"><code class="notranslate">baz
        </code></pre>
        </li>
        </ul>
  recorded_at: Tue, 28 Feb 2023 04:24:47 GMT
recorded_with: VCR 6.1.0
