---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"*foo [*bar*](/url)*\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"3e83eb2552292c5c75e4b0046084b2c04ad8cb59b965c93562806c36d8c705f3"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4806'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '194'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: <p><em>foo <a href="/url"><em>bar</em></a></em></p>
  recorded_at: Tue, 28 Feb 2023 04:19:30 GMT
recorded_with: VCR 6.1.0
