---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"> foo\n>\n> bar\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"d9b85e088496868a2a899a1cc54764bc98f5772e2bf6136e43e500c20e0cf715"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4370'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '630'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <blockquote>
        <p>foo</p>
        <p>bar</p>
        </blockquote>
  recorded_at: Tue, 28 Feb 2023 04:24:36 GMT
recorded_with: VCR 6.1.0
