---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"Foo\n<div>\nbar\n</div>\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"a3ebd6b816cd06c721a9256622ff617e10aa4fc5355e83bfd5182c84332fdc17"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4430'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '570'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <p>Foo</p>
        <div>
        bar
        </div>
  recorded_at: Tue, 28 Feb 2023 04:24:20 GMT
recorded_with: VCR 6.1.0
