---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"1.     indented code\n\n   paragraph\n\n       more
        code\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"8f5547c321cdd84e0810f2fb8008fed0444aa6be2427eabf029440e6c8e39f49"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4341'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '659'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ol>
        <li>
        <pre class="notranslate"><code class="notranslate">indented code
        </code></pre>
        <p>paragraph</p>
        <pre class="notranslate"><code class="notranslate">more code
        </code></pre>
        </li>
        </ol>
  recorded_at: Tue, 28 Feb 2023 04:24:46 GMT
recorded_with: VCR 6.1.0
