---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"# [Foo]\n[foo]: /url\n> bar\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"94c487a91ccf43a069c54e42e970f6c73bf832a9ba3b5bb776a5d3620971d91a"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4401'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '599'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <h1><a href="/url">Foo</a></h1>
        <blockquote>
        <p>bar</p>
        </blockquote>
  recorded_at: Tue, 28 Feb 2023 04:24:28 GMT
recorded_with: VCR 6.1.0
