---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"` foo `` bar `\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"edc07fa38e576fe5d461f4078af39d97440f56022883cab8de08966f33db9b19"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4871'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '129'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: <p><code class="notranslate">foo `` bar</code></p>
  recorded_at: Tue, 28 Feb 2023 04:19:09 GMT
recorded_with: VCR 6.1.0
