---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"- a\n- b\n\n- c\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"884745734df8a3a8a439321bc88cc28414d479a466e2e0cf762310d5f49ac4b0"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4300'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '700'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ul>
        <li>
        <p>a</p>
        </li>
        <li>
        <p>b</p>
        </li>
        <li>
        <p>c</p>
        </li>
        </ul>
  recorded_at: Tue, 28 Feb 2023 04:24:59 GMT
recorded_with: VCR 6.1.0
