---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"- a\n- ```\n  b\n\n\n  ```\n- c\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"bb960667004a18545b3ae5a5d9f956e16058778e2f2bfae892aba85be96e5c20"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4296'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '704'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ul>
        <li>a</li>
        <li>
        <pre class="notranslate"><code class="notranslate">b


        </code></pre>
        </li>
        <li>c</li>
        </ul>
  recorded_at: Tue, 28 Feb 2023 04:25:00 GMT
recorded_with: VCR 6.1.0
