---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"    1.  A paragraph\n        with two lines.\n\n            indented
        code\n\n        > A block quote.\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"7e2cb868c8ca9bdece0f83d680f86ae20e2ac8580e3946b86c996f75fb50a1f7"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4325'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '675'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <pre class="notranslate"><code class="notranslate">1.  A paragraph
            with two lines.

                indented code

            &gt; A block quote.
        </code></pre>
  recorded_at: Tue, 28 Feb 2023 04:24:51 GMT
recorded_with: VCR 6.1.0
