---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"<table>\n\n  <tr>\n\n    <td>\n      Hi\n    </td>\n\n  </tr>\n\n</table>\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"374c1de3d69146b066dcf9966de264f8b96d50ce3704757528fbe0c3dd3e7d1d"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4424'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '576'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <pre class="notranslate"><code class="notranslate">&lt;td&gt;
          Hi
        &lt;/td&gt;
        </code></pre><table role="table">
          <tbody><tr>

          </tr>
        </tbody></table>
  recorded_at: Tue, 28 Feb 2023 04:24:21 GMT
recorded_with: VCR 6.1.0
