---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"> foo\n> bar\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"fd24c6484ab594d16b5f795258a6ed7defa017d0a85ccc154af13298778d50b5"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4371'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '629'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <blockquote>
        <p>foo<br>
        bar</p>
        </blockquote>
  recorded_at: Tue, 28 Feb 2023 04:24:36 GMT
recorded_with: VCR 6.1.0
