---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"< a><\nfoo><bar/ >\n<foo bar=baz\nbim!bop />\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"57100c42764d189d77eca93cbc9f4b9fcbd631d09a84c7482a8ae696b9af6dba"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4615'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '385'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <p>&lt; a&gt;&lt;<br>
        foo&gt;&lt;bar/ &gt;<br>
        &lt;foo bar=baz<br>
        bim!bop /&gt;</p>
  recorded_at: Tue, 28 Feb 2023 04:21:53 GMT
recorded_with: VCR 6.1.0
