---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"-   foo\n\n    notcode\n\n-   foo\n\n<!-- -->\n\n    code\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"3a0882b9ee233f78f6bef6c1185492c2e8a7c2d646d4e03bac34f0adbe42dc7f"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4305'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '695'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ul>
        <li>
        <p>foo</p>
        <p>notcode</p>
        </li>
        <li>
        <p>foo</p>
        </li>
        </ul>

        <pre class="notranslate"><code class="notranslate">code
        </code></pre>
  recorded_at: Tue, 28 Feb 2023 04:24:58 GMT
recorded_with: VCR 6.1.0
