---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"<div>\n*foo*\n\n*bar*\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"dca8f9875eb7af21b5154d9b207743767cc6a40599476ce00ece6152e4096da3"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4459'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '541'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <div>
        *foo*
        <p><em>bar</em></p></div>
  recorded_at: Tue, 28 Feb 2023 04:24:11 GMT
recorded_with: VCR 6.1.0
