---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"~~~~    ruby startline=3 $%@#$\ndef foo(x)\n  return
        3\nend\n~~~~~~~\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"b159b01d18e5a1fe4a44e020c7346a3201adbfb63acee218d40f4f06abcf96c8"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4472'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '528'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <div class="highlight highlight-source-ruby"><pre class="notranslate"><span class="pl-k">def</span> <span class="pl-en">foo</span><span class="pl-kos">(</span><span class="pl-s1">x</span><span class="pl-kos">)</span>
          <span class="pl-k">return</span> <span class="pl-c1">3</span>
        <span class="pl-k">end</span></pre></div>
  recorded_at: Tue, 28 Feb 2023 04:22:36 GMT
recorded_with: VCR 6.1.0
