---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"___foo__\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"f8fdf05e7ae6dd557c2b774b5523aad4923d5b5cc033726ea76ffdc02b5eb1c1"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4770'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '230'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "<p>_<strong>foo</strong></p>"
  recorded_at: Tue, 28 Feb 2023 04:19:40 GMT
recorded_with: VCR 6.1.0
