---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"1. a\n\n  2. b\n\n   3. c\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"94bf6dfa748be6ae1633b339df4e229ad788588758ff076aadb43167c9e8174d"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4303'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '697'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <ol>
        <li>
        <p>a</p>
        </li>
        <li>
        <p>b</p>
        </li>
        <li>
        <p>c</p>
        </li>
        </ol>
  recorded_at: Tue, 28 Feb 2023 04:24:58 GMT
recorded_with: VCR 6.1.0
