---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/markdown
    body:
      encoding: UTF-8
      string: '{"mode":"gfm","text":"```\n``` aaa\n```\n\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Commonmarker-Version:
      - 0.23.8
      Etag:
      - W/"aa704404ba758b2ce9c0bc56fcdd645f5211c5e93c5490fc33e8135a05d29f4b"
      Github-Authentication-Token-Expiration:
      - '2023-03-06 22:34:32 -0500'
      X-Github-Media-Type:
      - github.v3; param=raw
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4468'
      X-Ratelimit-Reset:
      - '1677559349'
      X-Ratelimit-Used:
      - '532'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: |-
        <pre class="notranslate"><code class="notranslate">``` aaa
        </code></pre>
  recorded_at: Tue, 28 Feb 2023 04:22:38 GMT
recorded_with: VCR 6.1.0
